@import "../../../../src/styles/extend.scss";

.hero_container{
    width: 100%;
    height: 100vh;
    position: relative;
    background: #373542;
    overflow: hidden;
    position: relative;
    &.inner{
        height: 40rem;
        .content_wrapper{
            .hero_avator{
                width: 20rem !important;
            }
        }
    }
    .content_area{
        margin: 0;
    }
    .down_arrow{
        width: 6rem;
        height: 6rem;
        border-radius: 100%;
        border: #fff 2px solid;
        @extend .position_absolute_center;
        bottom: 3rem;
        top: auto;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        text-decoration: none;
        -webkit-animation-name: button_float;
        -webkit-animation-duration: 3s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in-out;
        @extend .transition;
        &:hover{
            background-color: rgba(255,255,255,.1);
        }
    }
    .slide_item{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .hero_bg{
        width: 100%;
        height: 100%;
        object-fit: cover;
        @extend .position_absolute_all0;
    }
    .content_wrapper{
        width: 100%;
        height: 100%;
        @extend .position_absolute_all0;
        

        .hero_avator{
            -webkit-animation-name: Floatingx;
            -webkit-animation-duration: 3s;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: ease-in-out;
            position: relative !important;
            height: auto !important;
            width: 33rem !important;
        }
        .container{
            height: 100%;
            position: relative;
        }
        &::before{
            width: 100%;
            height: 100%;
            @extend .position_absolute_all0;
            background-color: rgba(0,0,0,.7);
            content: "";
        }
        .tag_line{
            text-transform: uppercase;
            letter-spacing: 4px;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            color: #fff;
        }
        h3, h1{
            text-transform: uppercase;
            letter-spacing: 4px;
            line-height: 6rem;
            font-weight: 600;
            font-size: 9rem;
            color: #fff;
            margin-top: 3rem;
            -webkit-text-stroke: #fff 1px;
            text-stroke: #fff 1px;
            color: rgba(0,0,0,.2);
            font-weight: 900;
            span{
                font-size: 5.5rem;
                letter-spacing: 19.4px;
                color: #fff;
                font-weight: 500;
            }
        }
        h1{
            font-size: 5rem;
            margin-top: 12.4rem;
            span{
                font-size: 5rem;
            }
        }
        
    }
}

@keyframes button_float{
    0% {
        -webkit-transform: translate(0, 0px);
    }
    65% {
        -webkit-transform: translate(0, 15px);
    }
    100% {
        -webkit-transform: translate(0, 0px);
    }
}

@keyframes Floatingx{
    0% {
        -webkit-transform: translate(0, 0px);
    }
    65% {
        -webkit-transform: translate(15px, 15px);
    }
    100% {
        -webkit-transform: translate(0, 0px);
    }
}


@media only screen and (max-width:700px){
    .hero_container{
        .down_arrow{
            display: none;
        }
        &.inner{
            .content_wrapper{
                .hero_avator{
                    display: none
                }
                h1{
                    margin-top: 18.4rem;
                }
            } 
        }
        .content_wrapper{ 
            h3{
                font-size: 5rem;
                span{                    
                    font-size: 2.5rem;
                    letter-spacing: 4.4px;
                }
            }
            .hero_avator{
                width: 20rem !important;
            }
            .container{
                flex-direction: column;
                justify-content: center;
                text-align: center;
                .content_area{
                    order: 2;
                }
            }
        }
    }
}